APP_ENV=dev
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/mercadolivre_ml
MELI_BASE_URL=https://api.mercadolibre.com
MELI_SITE_ID=MLB
MELI_ACCESS_TOKEN=
MELI_APP_ID=
MELI_CLIENT_SECRET=
REQUEST_TIMEOUT_SECONDS=30
